
.header{
    display: grid;
    background-color: #fe9fd1;
    height: 100px;
    background-position: center;
    border-bottom: solid 1px;
    border-color: #FB62BE;
}
.Cover{
    position: absolute;
    height: 100px;
    width: 100%;
    
    z-index: 1;
}
.menu{
    z-index: 2;
    display: flex;
    justify-content: center;
}
.menu a{
    font-size: 1.5rem;
}
.menu a:hover{
    font-size: 1.7rem;
}
.Boton{
    display: none;
}
.menu-items{
    gap: 2rem;
    align-items: center;
    display: flex;
}
.menu-sotial{
    display: none;
}
@media screen and (max-width: 400px) {
    .menu-sotial a{
        font-size: 12px;
        padding: 0;
        transition: 0.3s;
    }
    .menu-sotial a:hover{
        padding: 1rem;
    }
}
@media screen and (max-width: 600px) {

    .menu-items{
        display: none;
    }

    .menu-items.activate{
        transition: 0.3s;
        margin-top: 0px;
        height: 100vmax;
        width: 84vmax;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
        padding: 2rem;
        padding-top: 110px;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color:rgb(202, 94, 179);
        a{
            transition: 300ms;
            display: unset;
        }
        a:hover{
            color: rgb(12, 54, 26);
            font-size: 2rem;
            transition: 300ms;
        }
    }
    
    .Boton{
        position: absolute;
        margin-top: 25px;
        margin-left: 25px;
        display: unset;
        border: solid;
    }
    .menu-sotial{
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-left: 70px;
            
    }
    .menu-sotial img{
        transform: scale(1.7);
        padding: 1rem;
        transition: 0.3s;
    }

    .menu-sotial img:hover{
        transform: scale(2);
        transition: 0.3s;
        background-color: #f66db6;
        border-radius: 2px;
    }
    .menu{
        gap: 1rem;
    }
}


li{
    list-style: none; 
}

.linkHeader {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    padding: 1rem;  
    font-family: Verdana;
}
a:hover{
    color: rgb(12, 54, 26);
    font-size: 17px;
    transition: 0.3s;
}

