
.footer{
    background-color: #fe9fd1;
    border-top-color: #ab236b;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 15px;
    align-items: center;
    justify-items: center;
    color: white;
}
.footer a{
    font-size: 15px;
    padding: 0;
}
.footer a:hover{
    font-size: 17px;
}
.ft-sotial-media{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 1rem;
    transform: scale(1.2);
    justify-items: center;
}

.ft-sotial-media a:hover{
    transform: scale(1.5);
}

@media screen and (max-width: 769px) {
    .ft-sotial-media{
        display: none;
    }
    .footer{
        grid-template-columns: repeat(2, 1fr);
        font-size: 9px;
        padding-block: 2rem; 
    }
    .footer a{
        font-size: 9px;
        margin: 0;
    }
}