
.header{
    display: grid;
    background-image: url("./header.jpg");
    background-size: cover;
    height: 100px;
    background-position: center;
}
.Cover{
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #222222da;
    z-index: 1;
}
.menu{
    z-index: 2;
    display: flex;
    justify-content: center;
}
.menu a{
    font-size: 1.5rem;
}
.Boton{
    display: none;
}
.menu-items{
    gap: 2rem;
    align-items: center;
    display: flex;
}
.menu-sotial{
    display: none;
}
@media screen and (max-width: 400px) {
    .menu-sotial a{
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {

    .menu-items{
        display: none;
        transition: 300ms;
    }

    .menu-items.activate{
        margin-top: 0px;
        height: 100vmax;
        width: 100vmax;
        box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
        padding: 2rem;
        padding-top: 110px;
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: #222;
    }
    
    .Boton{
        position: absolute;
        margin-top: 25px;
        margin-left: 25px;
        display: unset;
        border: solid;
    }
    .menu-sotial{
        display: flex;
        gap: 1rem;
        align-items: center;
        margin-left: 70px;        
    }
    .menu-sotial a{
        font-size: 18px;
    }
    .menu{
        gap: 1rem;
    }
}


li{
    list-style: none; 
}

a {
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(250, 151, 229);
}

