
h2{
    font-size: 2.5rem;
    text-align: center;
    color: #189a4c ;
}
.crd-img img{
    width: 100%;
}
.crd-img{
    width: 500px;
    margin: auto;
}
.info-asoc{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.body{
    padding: 5rem;
    padding-top: 0;
}
.footer{
    background-color: #b8b8b8;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    font-size: 10px;
}
.footer a{
    font-size: 10px;
}
.ft-sotial-media{
    display: grid;
    grid-template-columns: repeat(3, 100px);
}
@media screen and (max-width: 600px) {
    .crd-img{
        width: 300px;
        margin: auto;
    }
    .info-asoc{
        display: flex;
        flex-direction: column;
    }
    .ft-sotial-media{
        display: none;
    }
    .body{
        margin: 0;
        padding: 0px;
        margin-top: 2rem;
    }
    
}


